<h3 class="head"><span>X</span>Info</h3>
<div>
    <img src="../../../assets/images/test.jpg" alt="">
    <p>name of channel</p>
    <p>number of members: 12</p>
    <button>Add users</button>
</div>
<div class="info">
    <h6>Info</h6>
    <p>Basic info about channel</p>
</div>
<div class="">
    <div>
        <h5>Members</h5>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div>
        <h5>Media</h5>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>