.head{
    border-bottom: 2px solid rgb(219, 215, 215);
}
h3{
    text-align: center;
}

.info{
    box-shadow: 2px 2px 3px rgb(173, 173, 190);
}
.info > h6{
    text-align: left;
    color: rgb(161, 161, 186);
}

