@import './../../../assets/styles/styles';

.message{
    padding: 8px;
    background-color: white;
    border-radius: 1.5rem;
  //  margin-top: 20px;
    margin-left:2px;
    max-width: 50%;    
}
h5{ 
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 14px;
} 
.content{
    color: $gray;
    
}
.date{
    margin-top: 20px;
    margin-bottom: 20px;
    color: $gray;
}
img{
    display: inline-block;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    width: 50px;
    margin-right: 10px;   
// position: relative;
  //  top: -50px; 
}
.body-msg{
    display: inline-block;
    border: 2px solid black;
    width: 76%;
}
.message{
    margin-right: 11px;  
    padding: 12px; 
}
.replayMessage{
    background-color: rgb(217, 233, 237);
    border-radius: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 2px;
    width: 90%;
    margin-bottom: 2%;
}
.rghthC{
    background-color: white; 
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(195, 194, 194);
    display: inline-block;
    height: fit-content;
    font-size: 13px;
}
.rghthC > ul > li  { 
    cursor: pointer;
    padding: 7px;
    padding-right: 19px !important;
    border-bottom: 0.1px solid rgb(219, 216, 216);
    transition: background-color 0.03s ease-in-out,color 0.03s ease-in-out;
    &:last-child{
        color: red;
    }
    &:hover{
        background-color: rgb(206, 206, 226);
        color: white;
    }
}
.container{
  margin-bottom: 12px;
  
}