.container{
    display: inline-block;
    max-width: 1000px;
    margin-left: 50px;
    border: 2px solid #185abc;
    border-radius: 10px;
    min-width: 500px;
    padding-left: 5rem;
    padding-top:2rem ;
    padding-bottom: 2rem;
}
.container  h1 {
    padding: 3rem;
}