@import '../../../assets/styles/styles';

app-header{
    position: fixed;
    width: 100%;
    top:0px  
}
app-message{
    display: inline-block;
   // border: 1px solid black;
}
.iconmo{
    display: inline-block;
    border: $borbl;
}
.main{
    margin-top: 60px;
    display: flex;
}
.left{
     position: fixed;
     width: 27%;
     display: inline-block; 
     top:53px;
     left: 0;
     overflow-y: scroll;
     height: 100%;
}
.right{
    position: fixed;
    top:53px;
    width: 73%;
    display: inline-block;
    background-color: rgb(238, 237, 237);
    border-left: 2px solid rgba(244, 242, 242, 0.705);
    right: 0;
    overflow-y: scroll;
    max-height: 94%;
    min-height: 94%;
    //border: 2px solid black;
}
 input[type='text']{
    width: 76%;
    border-radius: 25px;
    padding: 12px;
    border: none; 
    :focus{
        border: none;
        outline: none;
    }
    :active{
        border: none;
        outline: none;
    }
}
.test{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding:10px;
    max-width: 80%;
}
.fa-microphone{
    position: relative;
    left: -27px;
}
.cl-gr{
    color: $gray;
}
.i-out{
    display: inline-block;
}
.i-out > i{
    margin-left: 10px;
}
.img-client{
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

.message > i {
    font-size: 16px;
    position: relative;
    top: -40px;
    right: 510px;
}

.messagges img{
    border: 2px solid black;
    top: 0px;
    color: rgb(0, 0, 0);
}
.container-msg{
    margin-bottom: 200px;
    max-width: 67%;
    position: relative;
    top: 50px;
}
.container-msg > img{
    display: inline-block;
    z-index: 12;
    width: 50%;
}
.conv-started{
    text-align: center;
    font-style: italic;
    color: $gray;
    margin-bottom: 6rem;
    margin-top:3em;
}
.message {
    margin-left: 1%;
}

.subhead{
    background-color: white;
    position: fixed;
    width: 73%;
    z-index:3;
    box-shadow: 1px 1px 1px rgb(233, 233, 233);
    display: flex;
}
.subhead img{
    display: inline-block !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:0.3rem;
}
.grp{
   margin-left: 0.2rem;
    display: inline-block;
    position: relative;
    bottom: 0.9rem;
}
.grp li {
    margin-bottom: 2px;
} 

.rgt{
    margin-left: auto;
    margin-right: 3.3%;
    display: flex;  
}
.rgt > i{
    
    margin-right: 100%; 
    top: 50%;
}
.replaybox{
    background-color: rgb(213, 209, 209);
    border-radius: 5px;
    padding: 8px; 
    margin-right: 5px;
    display: block;
    width:  87%;
    margin-right: 3%;   
}
.replaybox > h6 {
    margin-bottom: 7px;
}
.replaybox > p{
    max-width: 70%;
}
.fgr{
    color: $gray;
    font-style: italic;
}
.test .at{
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    color: $gray;
}
.test .inp{
    outline: 3px solid transparent;
    transition: outline 0.24s ease-in-out;
    &:hover{
        cursor: default ;
        outline: 2px solid rgb(203, 205, 210);
    }
    &:focus{
        cursor: text;
        border: none;
        outline: 3px solid rgb(199, 199, 202);
    }
}
.lin2m {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
}
.replaym{
    width: 90%;
}
.subhp1{
    display: inline-block;
}