/* You can add global styles to this file, and also import other style files */
*{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.inbl{
    display: inline-block;
}
i:hover{
    cursor: pointer;
}

.fbl{
    font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-menu{
    background-color: red !important;
    
}

mat-menu{
    border-radius: 50px !important;
    background-color: yellow !important;
    font-style: italic !important;
}